<template>
  <div>
    <div v-show="timer.id == ''">
      <md-layout md-flex="50" md-align="center" v-for="stat in roundStats" :key="stat.round">
        <md-chip class="round-stat"><span class="strong">Round {{ stat.round }}</span></md-chip>
        <md-chip>Items: {{ stat.items }}</md-chip>
        <md-chip>Time: {{ stat.hour }}:{{ stat.minute }}:{{ stat.second }}</md-chip>
        <md-chip>Words per Minute: {{ stat.wordsPerMinute }}</md-chip>
        <md-chip>Mistakes: {{ stat.mistakes }} ({{ stat.mistakePercent }}%)</md-chip>
      </md-layout>
    </div>

    <div v-show="timer.id !== ''">
      <!--<md-layout md-flex="50" md-align="center">-->
        <!--<md-chip class="strong">Game Time: {{ game.hour }}:{{ game.minute }}:{{ game.second }}</md-chip>-->
      <!--</md-layout>-->

      <md-layout md-flex="50" md-align="center">
        <md-chip class="strong">Round Time: {{ round.hour }}:{{ round.minute }}:{{ round.second }}</md-chip>
      </md-layout>

      <md-layout md-flex="50" md-align="center">
        <span class="md-display-3">{{ timer.hour }}:{{ timer.minute }}:{{ timer.second }}</span>
      </md-layout>
    </div>

    <md-layout md-flex="50" md-align="center" v-show="timer.id === '' && game.status !== ''">
      <span class="md-display-1">
        Total Time: {{ game.hour }}:{{ game.minute }}:{{ game.second }}
        | Words per Minute: {{gameStats.wordsPerMinute}}
        | Mistakes: {{gameStats.mistakes}} ({{ gameStats.mistakePercent }}%)
      </span>
    </md-layout>

    <!--real-time status for the current round-->
    <md-layout md-flex="50" md-align="center" v-show="timer.id !== ''">
      <md-chip>Round: {{ currentRound + 1 }}</md-chip>
      <md-chip>Item: {{ currentItem + 1 }}/{{ items.length }}</md-chip>
      <!--<md-chip>Total Words: {{ round.words + currentWords }}</md-chip>&lt;!&ndash;comment out on deployment&ndash;&gt;-->
      <!--<md-chip>Total Chars: {{ round.chars + currentChars }}</md-chip>&lt;!&ndash;comment out on deployment&ndash;&gt;-->
      <md-chip>Words Per Minute: {{ wordsPerMinute }}</md-chip>
      <md-chip>Mistakes: {{ mistakes }}<span v-show="true"> ({{ mistakePercent }}%)</span></md-chip>
    </md-layout>

    <md-layout md-flex="50" md-align="center">
      <md-button class="md-raised md-primary" id="btnStart" ref="btnStart" v-on:click.native="startRound"
                 v-show="timer.id === '' && game.status !== 'cleared'">
        {{ (game.status === '') ? 'Start' : 'Next Round' }}
      </md-button>
      <md-button class="md-raised md-accent" ref="btnStart" v-on:click.native="startRound"
                 v-show="game.status === 'cleared'">
        Try Again
      </md-button>
      <md-button class="md-raised md-warn" v-on:click.native="giveUp" v-show="game.status === 'in progress'">
        Give Up
      </md-button>
    </md-layout>

    {{ progress }}%
    <md-progress class="md-accent" :md-progress="progress"></md-progress>

    <ul id="itemsQueue" v-show="timer.id !== ''">
      <li v-if="item.index === currentItem" v-for="item in items">
        <span class="yellow">{{ highlight }}</span><span class="red">{{ wrong }}</span>{{ remaining }}
        <span v-show="highlight === '' && wrong === ''">{{ item.text }}</span>

        <md-input-container md-flex="100">
          <!--Note: md-texteara won't work here-->
          <textarea class="md-textarea" id="typeBox" autocomplete="off" placeholder="Type here..." ref="typeBox" v-model="answer"
                 @keydown="keymonitor" @keydown.ctrl.86="noPaste" @keydown.shift.45="noPaste"
                 @keyup="checkAnswer()"></textarea>
        </md-input-container>
      </li>
    </ul>

    <!--On item complete, displays finished items for the current round-->
    <ul id="itemsDone" v-show="game.status === 'in progress'">
      <li v-if="item.done == true" v-for="item in items">
        <span class="strong">[{{ item.duration }}]</span>
        {{ item.text }}
      </li>
    </ul>

    <!--On round complete, displays finished items for all rounds-->
    <div id="allItemsDone" v-show="timer.id === ''">
      <md-layout v-for="roundList in game.roundsDone" :key="roundList.round">
        <span class="strong">Round {{ roundList.round }}:</span>
        <ul>
          <li v-for="item in roundList.items">
            <span class="strong">[{{ item.duration }}]</span>
            {{ item.text }}
          </li>
        </ul>
      </md-layout>
    </div>
  </div>
</template>

<script>
import store from '../vuex/store'
import { formatTime, adjustTick } from '../vuex/mutations'
export default {
  store,

  name: 'game',

  data () {
    return {
      timer: { // item-level
        time: new Date(),
        hour: '00',
        minute: '00',
        second: '00',
        id: ''
      },
      round: { // round-level
        time: new Date(),
        hour: '00',
        minute: '00',
        second: '00',
        words: 0,
        chars: 0
      },
      game: { // game-level
        time: new Date(),
        hour: '00',
        minute: '00',
        second: '00',
        roundsDone: [],
        status: '' // other values: 'in progress', 'paused', 'cleared'
      },
      duration: '00:00:00',
      highlight: '',
      wrong: '',
      remaining: '',
      answer: '',
      mistakes: 0,
      disabledKeys: ['ArrowLeft', 'Home'],
      isBackspace: false
    }
  },

  /**
   * Initializes timers on page load
   *
   * @uses methods.resetTimer()
   */
  mounted () {
    this.resetTimer()
    this.round.time.setHours(0, 0, 0, 0)
    this.game.time.setHours(0, 0, 0, 0)
  },

  computed: {
    /**
     * Updates the progress bar whenever an item is completed
     *
     * @uses getters::getProgress()
     * @return int
     */
    progress () {
      return this.$store.getters.getProgress
    },

    /**
     * Returns the index of item to be completed
     *
     * @uses getters::nextItem()
     * @return int
     */
    currentItem () {
      return this.$store.getters.getNextItem
    },

    /**
     * Returns the index of round to be completed
     *
     * @uses getters::getNextRound()
     * @return int
     */
    currentRound () {
      return this.$store.getters.getNextRound
    },

    /**
     * Returns the total number of rounds {@internal based on the number of item groups from text.json}}
     *
     * @uses getters::getTotalRounds()
     * @return int
     */
    totalRounds () {
      return this.$store.getters.getTotalRounds
    },

    /**
     * Returns data of completed rounds, including round number, items count, round time, mistakes, mistakePercent,
     * wordsPerMinute
     *
     * @uses getters::getRoundStats()
     * @return array
     */
    roundStats () {
      return this.$store.getters.getRoundStats
    },

    /**
     * Updates and returns user score for the whole game
     *
     * @uses getters::getGameStats()
     * @return array
     */
    gameStats () {
      return this.$store.getters.getGameStats
    },

    /**
     * Returns items for the current round, both done and incomplete
     *
     * @uses getters::getItems()
     * @return array
     */
    items () {
      return this.$store.getters.getItems
    },

    /**
     * Returns real-time word count for the current item
     *
     * @used-by computed.wordsPerMinute()
     * @return int
     */
    currentWords () {
      switch (this.game.status) {
        case 'in progress':
          return ((this.highlight).split(' ')).length - 1
        case 'cleared': // to do
        default:
          return 0
      }
    },

    /**
     * Returns real-time character count for the current item
     *
     * @used-by computed.mistakePercent()
     * @return array
     */
    currentChars () {
      switch (this.game.status) {
        case 'in progress':
          return this.highlight.length + this.wrong.length
        case 'cleared': // to do
        default:
          return 0
      }
    },

    /**
     * Returns total number of seconds for the current round
     *
     * @used-by computed.wordsPerMinute()
     * @return int
     */
    secondsCount () {
      // get total seconds:
      let sec = parseInt(this.round.hour) * 60 * 60
      sec += parseInt(this.round.minute) * 60
      sec += parseInt(this.round.second)
      return Math.round(sec)
    },

    /**
     * Returns real-time words per minute
     *
     * Formula: (total words so far) divided by (total seconds so far) * 60
     * @uses computed.currentWords()
     * @uses computed.secondsCount()
     * @return int
     */
    wordsPerMinute () {
      let wpm = Math.round(((this.round.words + this.currentWords) / this.secondsCount) * 60)
      return isFinite(wpm) ? wpm : 0
    },

    /**
     * Returns real-time percentage of mistakes
     *
     * Formula: (total mistakes) divided by (total characters) * 100
     */
    mistakePercent () {
      let computed = parseFloat(Math.round((this.mistakes / (this.round.chars + this.currentChars)) * 100)) || 0
      return isFinite(computed) ? computed : 0
    }
  },

  methods: {
    /**
     * prevents pasting via 'Ctrl + V' (@keydown.ctrl.86) and 'Shift + Insert' (@keydown.shift.45)
     */
    noPaste: function (event) {
      event.preventDefault()
    },

    /**
     * Monitors every single key input in the answer text box.
     *
     * Prevents using of disabled keys in the text input. Prevents 'Backspace' from being added in "mistake" count.
     * Prevents deletion of correct characters.
     */
    keymonitor: function (event) {
      if (event.key === 'Backspace') {
        this.isBackspace = true
      } else {
        this.isBackspace = false
      }

      /* On backspace, stop when all wrong characters are deleted */
      if (this.isBackspace && this.wrong.length === 0) {
        event.preventDefault()
      }

      if (this.disabledKeys.indexOf(event.key) >= 0) {
        event.preventDefault()
      }
    },

    /**
     * Runs every time a character is inputted in the answer textbox
     *
     * Highlights item text (yellow if correct, red if wrong).
     *
     * @uses done()
     * @uses startTimer()
     * @uses endRound()
     */
    checkAnswer () {
      let item = this.items[this.currentItem].text
      this.highlight = ''
      this.remaining = ''

      for (let x = 0; x < item.length; x++) {
        let original = item[x]
        let compare = this.answer[x]

        if (original === compare) {
          this.highlight += original
        } else {
          this.wrong = item.slice(x, this.answer.length)
          if (this.highlight !== '' || this.wrong !== '') {
            this.remaining = item.slice(x + this.wrong.length)
          }
          break
        }
      } /* END for loop */
      if (
        (this.answer.length - this.highlight.length) > 0 &&
        !this.isBackspace
      ) {
        this.mistakes ++
      }

      /* if item is completed */
      if (item === this.highlight) {
        this.done()

        if (this.currentItem < this.items.length) {
          /* if has incomplete items */
          this.startTimer()
        } else {
          /* if all items completed */
          this.endRound()
        }
      }
    }, /* END checkAnswer */

    /**
     * Stops and resets item-level timer.
     *
     * Also resets item-level variables
     */
    resetTimer () {
      clearInterval(this.timer.id)
      this.timer.id = ''
      this.duration = this.timer.hour + ':' + this.timer.minute + ':' + this.timer.second
      this.timer.time.setHours(0, 0, 0, 0)

      /* DO NOT transfer to resetItems */
      this.answer = ''
      this.highlight = ''
      this.remaining = ''
    },

    /**
     * resets all items and variables used by them.
     */
    resetItems () {
      this.$store.commit('generate')

      for (let x = 0; x < this.items.length; x++) {
        this.$store.commit('update', {
          index: x,
          duration: '00:00:00',
          done: false
        })
      } /* END for loop */

      if (this.game.status === 'cleared') {
        this.$store.commit('clearRounds')
        this.game.time.setHours(0, 0, 0, 0)
        this.game.hour = '00'
        this.game.minute = '00'
        this.game.second = '00'
        this.game.roundsDone = []
        this.mistakes = 0
      }
    }, /* END resetItems */

    /**
     * called before start of every round.
     * called on button click "Start", "Next Round", "Try Again".
     */
    startRound () {
      this.mistakes = 0
      this.resetItems()
      this.currentRound
      this.resetTimer()
      this.startTimer()
    }, /* END startRound */

    /**
     * Starts all timer (item-level, round-level, game-level)
     *
     * Also sets focus on answer textbox, changes game status to 'in progress'
     */
    startTimer () {
      this.timer.id = setInterval(this.updateTimer, 1000)
      this.$nextTick(() => {
        this.$refs.typeBox[0].focus()
      })

      this.game.status = 'in progress'
    },

    /**
     * Updates all timer (item-level, round-level, game-level) every second
     *
     * @uses mutations::formatTime()
     */
    updateTimer () {
      let clocks = [
        this.timer,
        this.round
        // this.game
      ]
      for (let x = 0; x < clocks.length; x++) {
        let timer = {
          hr: clocks[x].time.getHours(),
          min: clocks[x].time.getMinutes(),
          sec: clocks[x].time.getSeconds() + 1
        }
        let data = adjustTick(timer)

        clocks[x].hour = formatTime(data.hr)
        clocks[x].minute = formatTime(data.min)
        clocks[x].second = formatTime(data.sec)

        clocks[x].time.setHours(clocks[x].hour)
        clocks[x].time.setMinutes(clocks[x].minute)
        clocks[x].time.setSeconds(clocks[x].second)
      }
    },

    /**
     * Updates status (done) and duration of an item
     *
     * Runs after every item is finished. Resets item-level timer
     *
     * @uses methods::resetTimer()
     * @uses store::update()
     * @used-by methods::checkAnswer()
     */
    done () {
      this.round.words += ((this.items[this.currentItem].text).split(' ')).length
      this.round.chars += (this.items[this.currentItem].text).length

      this.resetTimer()
      this.$store.commit('update', {
        index: this.currentItem,
        duration: this.duration,
        done: true
      })
    },

    /**
     *
     */
    endRound () {
      this.game.status = 'paused'
      this.saveCurrentRound('complete')

      /* reset round vars for the next round */
      this.round.time.setHours(0, 0, 0, 0)
      this.round.words = 0
      this.round.chars = 0

      /* update game-level timer */
      let data = {
        hour: 0,
        minute: 0,
        second: 0
      }
      for (let x = 0; x < this.roundStats.length; x++) {
        data.hour += parseInt(this.roundStats[x].hour)
        data.minute += parseInt(this.roundStats[x].minute)
        data.second += parseInt(this.roundStats[x].second)

        if (data.second > 59) {
          data.second -= 60
          data.minute ++
        }

        if (data.minute > 59) {
          data.minute -= 60
          data.hour ++
        }
      } /* END for loop */

      this.game.hour = formatTime(data.hour)
      this.game.minute = formatTime(data.minute)
      this.game.second = formatTime(data.second)

      this.game.time.setHours(this.game.hour)
      this.game.time.setMinutes(this.game.minute)
      this.game.time.setSeconds(this.game.second)
      /* END update game-level timer */

      /* Update list of items done for all rounds */
      let thisRound = {
        round: this.currentRound,
        items: []
      }
      // convert to foreach ??
      for (let x = 0; x < this.items.length; x++) {
        if (this.items[x].done) {
          thisRound.items.push(this.items[x])
        }
      }
      this.game.roundsDone.push(thisRound)

      /* if no more rounds left */
      if (this.currentRound === this.totalRounds) {
        this.gameCleared()
      }
    },

    /**
     * called on end round and on give up
     */
    saveCurrentRound (key) {
      let round = (key === 'complete')
        ? this.currentRound
        : this.currentRound + 1

      this.$store.commit('saveRound', {
        round: round,
        items: this.currentItem + '/' + this.items.length,
        // roundTime: this.round.hour + ':' + this.round.minute + ':' + this.round.second,
        time: this.round.time,
        hour: this.round.hour,
        minute: this.round.minute,
        second: this.round.second,
        mistakes: this.mistakes,
        mistakePercent: this.mistakePercent,
        wordsPerMinute: this.wordsPerMinute
      })
    },

    /**
     * Called when game is completed or when user gives up.
     *
     * @used-by giveUp()
     */
    gameCleared () {
      this.timer.hour = this.game.hour
      this.timer.minute = this.game.minute
      this.timer.second = this.game.second
      this.game.status = 'cleared'
    },

    giveUp () { // in progress, testing...
      // transfer these later to avoid code redundancy
      clearInterval(this.timer.id)
      this.timer.id = ''
      this.answer = ''
      this.duration = this.timer.hour + ':' + this.timer.minute + ':' + this.timer.second

      this.saveCurrentRound('incomplete')

      // reset timers for the next round
      this.round.time.setHours(0, 0, 0, 0)
      this.game.time.setHours(0, 0, 0, 0)

      this.gameCleared()

      // more here to list/display incomplete rounds/items
        // ...
    }
  } /* END methods */
} /* END export default */
</script>

<style>
  .md-chip { margin: 2px; }
  .strong { font-weight: bold; }
  .yellow { background-color: yellow; text-decoration: line-through; }
  .red { background-color: red; }
  #allItemsDone { display: inline-block; height: 55vh; overflow: auto; width: 100%; }
  #itemsQueue { font-weight: bold; }
  #itemsQueue li { font-size: 28px; line-height: 30px; list-style-type: none; }
  #typeBox { font-size: 28px; font-weight: bold; height: auto; }
</style>
