<template>
  <md-layout md-gutter>
    <md-layout md-flex="30">
      <md-layout v-show="user">
        <md-card>
          <md-card-header>
            <div class="md-title">Welcome {{ user }}!</div>
          </md-card-header>
        </md-card>
      </md-layout>
    </md-layout>

    <md-layout md-flex="40">
      <md-layout md-align="center">
        <h1>Speed Typing</h1>
      </md-layout>

      <md-layout md-flex="100" md-align="center">
        <form id="register" v-show="!user" novalidate @submit.prevent="register">
          <md-input-container>
            <label>Name</label>
            <md-input v-model="name" placeholder="Your name here"></md-input>
          </md-input-container>

          <md-button type="submit" class="md-raised md-primary">Register</md-button>
        </form>
      </md-layout>
    </md-layout> <!--md-flex-40-->

    <md-layout md-flex="30"></md-layout>
  </md-layout> <!--md-gutter-->
</template>

<script>
  import store from '../vuex/store'
  export default {
    store,

    name: 'register',

    computed: {
      user () {
        return this.$store.getters.getUser
      }
    },

    data () {
      return {
        name: ''
      }
    },

    methods: {
      register () {
        this.$store.commit('register', this.name)
      }
    }
  } /* END export default */

</script>

<style>
  .md-align-center form,
  .md-align-center label,
  .md-align-center .md-input {
    text-align: center;
  }
  .md-align-center label {
    display: inline-block;
    width: 100%;
  }
</style>
