<template>
  <div id="app" class="container">
    <!--<md-layout md-row>-->
      <!--<md-layout md-flex="100">-->
        <register></register>
      <!--</md-layout>-->
    <!--</md-layout>-->

    <game v-show="user"></game>

  </div>
</template>

<script>
  import Register from './components/Register'
  import Game from './components/Game'

  /* for register */
  import store from './vuex/store'

  export default {
    name: 'app',
    components: {
      Register,
      Game
    },

    /* for register */
    store,
    computed: {
      user () {
        return this.$store.getters.getUser
      }
    }

  } /* END export default */

</script>

<style src="vue-material/dist/vue-material.css"></style>
<style>
  .container { padding: 20px; }
</style>
